body{
    background-color:#f5f6fa ;
    padding: 20px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    /*border: 1px solid red;*/
    padding: 10px;
}
.user-outer{
    width: 100%;
    height:250px;
    border:1px solid red;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #dfe6e9;
}
.avatar-outer{
    width: 250px;
    height: 100%;
    border: 1px solid red;
}
.user-data{
    flex: 1;
    border: 1px solid red;
    padding: 10px;
}
